-e git+https://github.com/GuiltyTargets/ppi-network-annotation#egg=ppi-network-annotation
-e git+https://github.com/ozlemmuslu/guiltytargets#egg=guiltytargets
-e git+https://github.com/ozlemmuslu/GAT2VEC#egg=GAT2VEC
flask
flask-bootstrap
wtforms
flask-wtf
celery
sqlalchemy
